#electron-macos-title-bar {
  min-height: 22px;
}

#electron-macos-title-bar .macos-title-bar {
    user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 22px;
    background: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(250, 250, 250);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    position: fixed;
}

#electron-macos-title-bar .macos-title-bar-focused {
  background: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(224, 224, 224) 100%);
  border-bottom: 1px solid rgb(185, 185, 185);
  border-top: 1px solid rgb(244, 244, 244);
}

#electron-macos-title-bar .macos-title-bar-transparent {
  background: transparent;
  border-bottom: 1px transparent;
  border-top: 1px transparent;
}

#electron-macos-title-bar .macos-title-bar #title {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0px;
    color: rgb(171, 171, 171);
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    margin: inherit;
}

#electron-macos-title-bar .macos-title-bar-focused #title {
  color: rgb(57, 57, 57);
}

#electron-macos-title-bar .macos-tool-bar {
    user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 44px;
    height: fit-content;
    background: rgb(246, 246, 246);
    border-bottom: 1px solid rgb(219, 219, 219);
    border-top: 1px solid rgb(250, 250, 250);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-right: 3px;
    position: fixed;
    z-index: -1;
}

#electron-macos-title-bar .tool-bar-container-attatch {
    padding-left: 7px;
    padding-top: 22px;
}

#electron-macos-title-bar .tool-bar-container-inset {
    padding-left: 66px;
}

#electron-macos-title-bar .macos-tool-bar-focused {
  background: -webkit-linear-gradient(top, rgb(235, 235, 235), rgb(224, 224, 224) 100%);
  border-bottom: 1px solid rgb(185, 185, 185);
  border-top: 1px solid rgb(244, 244, 244);
}

#electron-macos-title-bar .macos-window-control {
    user-select: none;
    -webkit-app-region: drag;
    cursor: default;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 22px;
    min-width: 66px;
    width: fit-content;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 3px;
    padding-right: 3px;
    position: fixed;
}

#electron-macos-title-bar a.macos-control-btn {
    /*display: none;*/
    user-select: none;
    -webkit-app-region: no-drag;
    cursor: default;
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 4px;
    margin-right: 4px;
    line-height: 0;
    background-color: rgb(221, 221, 221);
    border-color: rgb(208, 208, 208);
}

#electron-macos-title-bar a.macos-close-btn.macos-control-btn.macos-close-btn-focused {
    background-color: #ff5f57;
    border-color: #e2463f;
}

#electron-macos-title-bar a.macos-minimize-btn.macos-control-btn.macos-minimize-btn-focused {
    background-color:  #ffbd2e;
    border-color: #e1a116;
}

#electron-macos-title-bar a.macos-fullscreen-btn.macos-control-btn.macos-fullscreen-btn-focused {
    background-color: #28c940;
    border-color: #12ac28;
}

#electron-macos-title-bar a.macos-close-btn.macos-control-btn.macos-close-btn-focused:active {
    background-color: #bf4943;
    border-color: #ad3934;
}

#electron-macos-title-bar a.macos-minimize-btn.macos-control-btn.macos-minimize-btn-focused:active {
    background-color:  #bf9123;
    border-color: #ad7d15;
}

#electron-macos-title-bar a.macos-fullscreen-btn.macos-control-btn.macos-fullscreen-btn-focused:active {
    background-color: #1f9a31;
    border-color: #128622;
}


#electron-macos-title-bar .macos-btn-icon {
    display: none;
    width: 10px;
    height: 10px;
}

#electron-macos-title-bar.show-on-hover {
  display: none;
}
#electron-macos-title-bar .macos-window-control:hover .macos-btn-icon {
    display: inline;
}
#electron-macos-title-bar .macos-window-control:hover .macos-control-btn {
    display: inline;
}
